
CREATE TABLE [dbo].[CheckAction](
	[ActionId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ListId] [int] NOT NULL,
	[ActionText] [nvarchar](255) NOT NULL,
	[ActionDscr] [nvarchar](1000) NULL,
	[CompleteInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CheckAction] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckCategory]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ListId] [int] NOT NULL,
	[CategoryText] [nvarchar](255) NOT NULL,
	[CategoryDscr] [nvarchar](1000) NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CheckCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckList]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckList](
	[ListId] [int] IDENTITY(1,1) NOT NULL,
	[SetId] [int] NOT NULL,
	[ListName] [nvarchar](255) NOT NULL,
	[ListDscr] [nvarchar](1000) NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CheckList] PRIMARY KEY CLUSTERED 
(
	[ListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckSet]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckSet](
	[SetId] [int] IDENTITY(1,1) NOT NULL,
	[TemplateSetId] [int] NULL,
	[SetName] [nvarchar](255) NOT NULL,
	[SetDscr] [nvarchar](1000) NULL,
	[OwnerName] [nvarchar](256) NOT NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CheckSet] PRIMARY KEY CLUSTERED 
(
	[SetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateAction]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateAction](
	[ActionId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[ActionText] [nvarchar](255) NULL,
	[ActionDscr] [nvarchar](1000) NULL,
	[CompleteInd] [nvarchar](1) NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TemplateAction] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateCategory]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ListId] [int] NOT NULL,
	[CategoryText] [nvarchar](255) NOT NULL,
	[CategoryDscr] [nvarchar](1000) NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TemplateCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateList]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateList](
	[ListId] [int] IDENTITY(1,1) NOT NULL,
	[SetId] [int] NOT NULL,
	[ListName] [nvarchar](255) NOT NULL,
	[ListDscr] [nvarchar](1000) NOT NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TemplateList] PRIMARY KEY CLUSTERED 
(
	[ListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateSet]    Script Date: 3/16/2019 4:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateSet](
	[SetId] [int] IDENTITY(1,1) NOT NULL,
	[SetName] [nvarchar](255) NOT NULL,
	[SetDscr] [nvarchar](1000) NOT NULL,
	[OwnerName] [nvarchar](256) NOT NULL,
	[ActiveInd] [nvarchar](1) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[CreateUserName] [nvarchar](255) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TemplateSet] PRIMARY KEY CLUSTERED 
(
	[SetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_CompleteInd]  DEFAULT (N'N') FOR [CompleteInd]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[CheckAction] ADD  CONSTRAINT [DF_CheckAction_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_IsActive]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[CheckCategory] ADD  CONSTRAINT [DF_CheckCategory_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_IsActive]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[CheckList] ADD  CONSTRAINT [DF_CheckList_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_IsActive]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[CheckSet] ADD  CONSTRAINT [DF_CheckSet_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_CompleteInd]  DEFAULT (N'N') FOR [CompleteInd]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[TemplateAction] ADD  CONSTRAINT [DF_TemplateAction_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_ActiveInd]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[TemplateCategory] ADD  CONSTRAINT [DF_TemplateCategory_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_ActiveInd]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[TemplateList] ADD  CONSTRAINT [DF_TemplateList_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_ActiveInd]  DEFAULT (N'Y') FOR [ActiveInd]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_SortOrder]  DEFAULT ((50)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_CreateDateTime]  DEFAULT (getdate()) FOR [CreateDateTime]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_CreateUserName]  DEFAULT (N'UNKNOWN') FOR [CreateUserName]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_ChangeDateTime]  DEFAULT (getdate()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[TemplateSet] ADD  CONSTRAINT [DF_TemplateSet_ChangeUserName]  DEFAULT (N'UNKNOWN') FOR [ChangeUserName]
GO
ALTER TABLE [dbo].[CheckAction]  WITH CHECK ADD  CONSTRAINT [FK_CheckAction_CheckCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CheckCategory] ([CategoryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckAction] CHECK CONSTRAINT [FK_CheckAction_CheckCategory]
GO
ALTER TABLE [dbo].[CheckCategory]  WITH CHECK ADD  CONSTRAINT [FK_CheckCategory_CheckList] FOREIGN KEY([ListId])
REFERENCES [dbo].[CheckList] ([ListId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckCategory] CHECK CONSTRAINT [FK_CheckCategory_CheckList]
GO
ALTER TABLE [dbo].[CheckList]  WITH CHECK ADD  CONSTRAINT [FK_CheckList_CheckSet] FOREIGN KEY([SetId])
REFERENCES [dbo].[CheckSet] ([SetId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckList] CHECK CONSTRAINT [FK_CheckList_CheckSet]
GO
ALTER TABLE [dbo].[CheckSet]  WITH CHECK ADD  CONSTRAINT [FK_CheckSet_TemplateSet] FOREIGN KEY([TemplateSetId])
REFERENCES [dbo].[TemplateSet] ([SetId])
GO
ALTER TABLE [dbo].[CheckSet] CHECK CONSTRAINT [FK_CheckSet_TemplateSet]
GO
ALTER TABLE [dbo].[TemplateAction]  WITH CHECK ADD  CONSTRAINT [FK_TemplateAction_TemplateCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TemplateCategory] ([CategoryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateAction] CHECK CONSTRAINT [FK_TemplateAction_TemplateCategory]
GO
ALTER TABLE [dbo].[TemplateCategory]  WITH CHECK ADD  CONSTRAINT [FK_TemplateCategory_TemplateList] FOREIGN KEY([ListId])
REFERENCES [dbo].[TemplateList] ([ListId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateCategory] CHECK CONSTRAINT [FK_TemplateCategory_TemplateList]
GO
ALTER TABLE [dbo].[TemplateList]  WITH CHECK ADD  CONSTRAINT [FK_TemplateList_TemplateSet] FOREIGN KEY([SetId])
REFERENCES [dbo].[TemplateSet] ([SetId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateList] CHECK CONSTRAINT [FK_TemplateList_TemplateSet]
GO
